In [20]:
import numpy as np
import pandas as pd

In [49]:
imu_data = pd.read_csv('imudata2.txt', sep='\t', header=0,names=["g: x","g: y","g: z", "a: x", "a: y", "a: z"])
#imu_dataframe = pd.DataFrame(imu_data,columns=["g: x","g: y","g: z", "a: x", "a: y", "a: z"])
print(imu_data)
imu_data.loc[0:13]

    g: x  g: y  g: z  a: x  a: y  a: z
0   0.13 -0.01 -0.01  0.60 -0.29 -8.59
1   0.12 -0.03 -0.03  0.54 -0.30 -8.66
2   0.12 -0.04 -0.00  0.57 -0.26 -8.59
3   0.12 -0.04  0.01  0.49 -0.30 -8.66
4   0.13 -0.01  0.01  0.56 -0.31 -8.71
5   0.12 -0.03 -0.01  0.50 -0.29 -8.60
6   0.12 -0.03  0.02  0.52 -0.28 -8.69
7   0.12 -0.01 -0.01  0.57 -0.25 -8.52
8   0.12 -0.03  0.02  0.53 -0.31 -8.67
9   0.12 -0.01 -0.02  0.51 -0.27 -8.63
10  0.12 -0.04  0.00  0.53 -0.29 -8.65
11  0.13 -0.03 -0.01  0.54 -0.28 -8.62
12  0.12 -0.04 -0.02  0.51 -0.30 -8.64
13  0.12 -0.05 -0.01  0.52 -0.31 -8.51

    g: x  g: y  g: z  a: x  a: y  a: z
0   0.13 -0.01 -0.01  0.60 -0.29 -8.59
1   0.12 -0.03 -0.03  0.54 -0.30 -8.66
2   0.12 -0.04 -0.00  0.57 -0.26 -8.59
3   0.12 -0.04  0.01  0.49 -0.30 -8.66
4   0.13 -0.01  0.01  0.56 -0.31 -8.71
5   0.12 -0.03 -0.01  0.50 -0.29 -8.60
6   0.12 -0.03  0.02  0.52 -0.28 -8.69
7   0.12 -0.01 -0.01  0.57 -0.25 -8.52
8   0.12 -0.03  0.02  0.53 -0.31 -8.67
9   0.12 -0.01 -0.02  0.51 -0.27 -8.63
10  0.12 -0.04  0.00  0.53 -0.29 -8.65
11  0.13 -0.03 -0.01  0.54 -0.28 -8.62
12  0.12 -0.04 -0.02  0.51 -0.30 -8.64
13  0.12 -0.05 -0.01  0.52 -0.31 -8.51

In [48]:
degrees = np.linspace(0,360,361)
lidar_data = pd.read_csv('scandata.txt', sep=' ', header=0,names=degrees)

lidar_data.loc[5:68]

,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,351.0,352.0,353.0,354.0,355.0,356.0,357.0,358.0,359.0,360.0
5,"[174.75,","148.0,","149.5,","151.0,","152.0,","1240.25,","153.75,","154.25,","156.0,","157.0,",...,"144.75,","145.0,","145.0,","145.25,","162.75,","165.0,","146.75,","148.0,",148.75],NaN
6,"[174.75,","148.0,","149.5,","151.0,","152.0,","1240.25,","153.75,","154.25,","156.0,","157.0,",...,"144.75,","145.0,","145.0,","145.25,","162.75,","165.0,","146.75,","148.0,",148.75],NaN
7,"[174.75,","148.0,","149.5,","151.0,","152.0,","1240.25,","153.75,","154.25,","156.0,","157.0,",...,"144.75,","145.0,","145.0,","145.25,","162.75,","165.0,","146.75,","148.0,",148.75],NaN
8,"[174.75,","148.0,","149.5,","151.0,","152.0,","1240.25,","153.75,","154.25,","156.0,","157.0,",...,"144.75,","145.0,","145.0,","145.25,","162.75,","165.0,","146.75,","148.0,",148.75],NaN
9,"[174.75,","148.0,","149.5,","151.0,","152.0,","1240.25,","153.75,","154.25,","156.0,","157.0,",...,"144.75,","145.0,","145.0,","145.25,","162.75,","165.0,","146.75,","148.0,",148.75],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,"[4735.5,","4754.25,","4796.5,","4702.5,","4756.25,","5271.5,","8363.25,","5463.0,","5196.75,","5063.0,",...,"11720.75,","8751.25,","8665.0,","8568.75,","5489.25,","8913.5,","5444.75,","5444.75,",5320.75],NaN
65,"[5325.5,","4754.25,","4968.0,","4702.5,","4746.75,","5271.5,","8363.25,","5517.5,","5196.75,","5252.25,",...,"11720.75,","8751.25,","8656.5,","8568.75,","5286.25,","5185.5,","5195.0,","5444.75,",5230.5],NaN
66,"[5326.75,","5340.5,","4968.0,","4852.25,","4968.0,","4714.75,","5262.0,","5517.5,","5308.25,","5310.75,",...,"8812.0,","9338.0,","8656.5,","8545.5,","8618.0,","8578.75,","5195.0,","5442.75,",5350.5],NaN
67,"[5214.0,","5225.75,","4968.0,","4779.5,","4811.25,","4809.25,","5262.0,","5517.5,","5308.25,","5310.75,",...,"8812.0,","9338.0,","8656.5,","8545.5,","8644.5,","5214.0,","5195.0,","5442.75,",5178.5],NaN
68,"[5214.0,","5225.75,","4690.25,","5084.5,","4826.25,","4809.25,","5262.0,","5517.5,","5531.75,","5313.25,",...,"8812.0,","9338.0,","8683.5,","8570.0,","8501.5,","5214.0,","5195.0,","5442.75,",5178.5],NaN